.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    border-bottom: 2px solid #F2F2F2;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
    height: 4rem;
}
.headerContent{
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
    line-height: 3.5rem;
    justify-content: space-between;
}
.headerSelectionButton{
    display: flex;
    padding-top: 5px;
    gap: 1rem;
    right: 0;
}
.inputSearch {
  width: 40rem;
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}

.inputSearch:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;
}
.notificationContainer , .userProfileContainer{
    position: relative;
}
.notiModel {
    position: absolute;
    top: 4rem;
    right: -3rem;
    z-index: 100;
    width: 20rem;
    height: 16rem;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 4px 9px 27px 7px;
    background-color: #ffffff;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    pointer-events: none; 
}
.userModel{
    position: absolute;
    top: 4rem;
    right: 0;
    z-index: 100;
    width: 190px;
    height: 254px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 4px 9px 27px 7px;
    background-color: #ffffff;

    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    pointer-events: none; 
}

.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.hide {
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
}

/* =============== BODY ================= */
.sidebar {
    position: sticky;
    top: 4rem; 
    left: 0px;
    width: 14rem;
    max-width: 33.3%;
    height: calc(100vh - 80px);
    background: #f4f4f4;
    /* border-radius: 10px; */   
}
.recentPost {
    position: sticky;
    top: 5rem; 
    right: 2.5rem;
    max-width: 33.3%;
    width: 25rem;
    height: calc(100vh - 80px);
    background: #f4f4f4;
    border-radius: 10px;
    padding: 20px;
}
.mainContent {
    display: flex;
    width: 90rem;
    gap: 10rem;
}
.content {
    flex: 1;
    max-width: 800px; 
    min-height: 100rem; 
    background-color: #333;
    padding: 20px;
}
.homeBody {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    gap: 20px; 
    padding-top: 4rem;
    padding-bottom: 1rem;
    /* background-color: #333; */
}


/* ================= FOOTER ==================== */
.footer{
    bottom: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    height: 13rem;
}
.cursor{
    margin-top: 2rem;
    position: relative;
    width: 24em;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}
.typewriterAnimation {
  animation: 
    typewriter 5s steps(50) 1s 1 normal both, 
    blinkingCursor 500ms steps(50) infinite normal;
}
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes blinkingCursor{
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: transparent; }
}

.createdBy {
    margin-top: 6rem;
}