.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border-bottom: 2px solid #F2F2F2;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 1000;
  height: 4rem;
}

/* BODY */
.homeBody {
  display: flex;
  align-items: flex-start;
  gap: 4rem;
  max-width: 100%;
  padding-top: 4rem; /* Đẩy nội dung xuống dưới header */
  padding-bottom: 1rem;
  height: calc(100vh - 4rem);
}

/* Sidebar */
.sidebar {
  position: sticky;
  top: 4rem;
  width: 14rem;
  background: #f4f4f4;
  height: calc(100vh - 4rem);
}

/* Main Content */
.mainContent {
  flex: 1;
  padding: 16px;
}

/* Flex container cho Content và Recent Post */
.flexContainer {
  display: flex;
  gap: 2rem;
}

/* Content chứa danh sách post */
.content {
  flex: 1;
  max-width: 800px;
  padding: 20px;
  overflow: hidden;
}

.recentPost {
  width: 25rem;
  background: #f4f4f4;
  border-radius: 10px;
  padding: 20px;
  height: auto;
  min-height: 50vh;
  max-height: 100vh;
  position: sticky;
  bottom: 0;
}


/* Recent Post Header & Content */
.recentPostHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.recentPostHeader h2 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.clearButton {
  background-color: transparent;
  color: rgb(5, 108, 177);
  text-decoration: underline;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.clearButton:hover {
  background-color: #a09e9e70;
}

.recentPostContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: auto;
  min-height: 50vh;
  max-height: 100vh;
}

/* Footer, nếu cần */
.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height: 13rem;
}
